<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.orm.dao.OrderMapper">
    <resultMap id="orderMap" type="a.b.c.orm.entity.SaleOrderEntity">
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
    </resultMap>
    <sql id="updateSet">
        user_id,
        order_id,
        goods_id
    </sql>
    <insert id="insertByBatch" parameterType="java.util.List">
        insert into sale_order (
        <include refid="updateSet"/>
        )
        values
        <foreach item="item" index="index" collection="entityList" separator=",">
            (#{item.userId}, #{item.orderId}, #{item.goodsId})
        </foreach>
    </insert>
</mapper>